# Archivos de log y dependencias locales
node_modules
npm-debug.log
pnpm-debug.log

# Directorio de build de Next.js
.next

# Archivos de entorno local
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Otros
.vscode
.git
README.md