/* libs */
@import 'simplebar-react/dist/simplebar.min.css';

/* base */
html, body, #__next { height: 100%; }
* { box-sizing: border-box; }
body { margin: 0; }
.swal2-container { z-index: 9999 !important; }
